header{
    background-color:black;
    color:white;
    text-align:center;
    font-size:2em;
    padding:8px 35px;
    margin-bottom:10px;
}
.title{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.self{
    flex:none;
    width:95%;
    height:3%;
    text-align:left;
    font-size:18px;
    font-weight:bold;
    border:2px solid white;
}
.self-title{
    text-align:center;
    font-size:25px;
    font-weight:bold;
}
.self-img{
    width:30px;
    height:30px;
}
.self-content{
    padding:8px 25px;
}
.btn{
    flex:none;
    width:30%;
    height:200px;
    font-size:18px;
    font-weight:bold;
    padding:10px;
    margin:15px;
    border-color:white;
    border-radius:10px;
}
.img{
    width:50px;
    height:50px;
    padding:10px;
}
.question{
    display:none;
    text-align:center;
    font-size:30px;
    font-weight:bold;
}
.answer{
    display:flex;
    justify-content:center;
    align-items:center;
}
.text{
    flex:none;
    width:80%;
    text-align:left;
    font-size:18px;
    padding:35px;
}
.back{
    background-color:white;
    color:blue;
    font-size:18px;
    font-weight:bold;
    text-decoration:underline;
    border:none;
}
@media(max-width:1250px){
    .btn{
        width:45%;
    }
}
@media(max-width:500px){
    .btn{
        width:90%;
    }
}

/*---時間分配表CSS---*/
.first{
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    padding:10px 30px;
}
.second{
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    padding:10px 30px;
}
.third{
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    padding:10px 30px;
}
#two-HR{
    flex:none;
    width:17%;
    padding:5px;
}
#one-HR{
    flex:none;
    width:14%;
    padding:5px;
}
#onehalf-HR{
    flex:none;
    width:11%;
    padding:5px;
}
#halfhalf-HR{
    flex:none;
    width:8%;
    padding:5px;
}
.learning{
    background-color:lightblue;
    border:1px solid lightgrey;
}
.eatting{
    background-color:wheat;
    border:1px solid lightgrey;
}
.break{
    background-color:white;
    border:1px solid lightgrey;
}
.exercise{
    background-color:pink;
    border:1px solid lightgrey;
}
.meeting{
    color:red;
}
.end{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    padding:10px;
}
@media(max-width:800px){
    .first{
        justify-content:center;
    }
    .second{
        justify-content:center;
    }
    .third{
        justify-content:center;
    }
    #two-HR{
        width:75%;
    }
    #one-HR{
        width:75%;
    }
    #onehalf-HR{
        width:75%;
    }
    #halfhalf-HR{
        width:75%;
    }
}
